#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  flex-direction: column;
  align-content: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  margin: 12px 24px;
}

p{
  margin: 0;
  font-size: 0.8rem;
  font-style: italic;
}